version: "3.8"
services:
  juiceshop_cont:
    image: bkimminich/juice-shop

  caddy:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./ruleset:/ruleset:ro
      - ./dbGeoIpBlock.mmdb:/etc/caddy/dbGeoIpBlock.mmdb:ro
    ports:
      - 8080:80
